    <h3><a href="{{.fullUrl}}">{{.title}}</a></h3>

    <ul class="bookmark-list shortlist">
        {{if .renderAdd}}
        <li>
            <form method="POST" action="bookmarks/create/">
                <input type="text" data-default="Bookmark URL..." value="Bookmark URL..." class="list-new js-clear-default" id="bookmark-url" name="url">
            </form>
        </li>
        {{end}}
    {{range $bookmark := .bookmarks}}
    <li><a href="bookmarks/edit/{{$bookmark.ID}}">{{$bookmark.Title}}</a> <a class="del" href="bookmarks/delete/{{$bookmark.ID}}"><i class="icon icon-remove-sign"></i></a></li>
    {{end}}
    </ul>