{{#Entry}}
    <div class="entry twitter">
        <a href="{{Url}}"><i class="icon icon-twitter-sign"></i></a>
        {{#Tweet}}
            {{{html_text}}}
        {{/Tweet}}
    </div>
{{/Entry}}
