{{if .Search}}<h3><a href="/blog/">All Posts</a></h3>{{end}}

<form action="/blog/" method="GET">
    <input type="text" name="q" class="search js-clear-default"
           data-default="Type a search query..."
           value="{{if .query}}{{.query}}{{else}}Type a search query...{{end}}">
</form>

<ul class="shortlist listpage">
{{range $post := .posts}}
<li>
<a href="/blog/{{$post.Slug}}">{{$post.Title}}</a>
<span class="date">{{$post.CreatedAt | naturalTime}}</span>
</li>
{{end}}
</ul>

{{.pagination}}