
<h2><a href="/admin/gallery/">Gallery</a></h2>
<div>
    <h3 style="text-align: center;">Configuration Error</h3>
    <p>There is an error in your configuration:</p>
    <blockquote>
        {{ Error }}
    </blockquote>
    <p>Your configuration:</p>
    <pre>{{ GalleryConfig }}</pre>
</div>


