@font-face{font-family:'FontAwesome';src:url('/static/fontawesome-webfont.eot');src:url('/static/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('/static/fontawesome-webfont.woff') format('woff'),url('/static/fontawesome-webfont.ttf') format('truetype'),url('/static/fontawesome-webfont.svg#FontAwesome') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit;}
a [class^="icon-"],a [class*=" icon-"]{display:inline-block;text-decoration:inherit;}
.icon-large:before{vertical-align:middle;font-size:1.3333333333333333em;}
.btn [class^="icon-"],.nav-tabs [class^="icon-"],.btn [class*=" icon-"],.nav-tabs [class*=" icon-"]{line-height:.9em;}
li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.25em;text-align:center;}
li .icon-large:before,li .icon-large:before{width:1.875em;}
ul.icons{list-style-type:none;margin-left:2em;text-indent:-0.8em;}ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"]{width:.8em;}
ul.icons li .icon-large:before,ul.icons li .icon-large:before{vertical-align:initial;}
.icon-glass:before{content:"\f000";}
.icon-music:before{content:"\f001";}
.icon-search:before{content:"\f002";}
.icon-envelope:before{content:"\f003";}
.icon-heart:before{content:"\f004";}
.icon-star:before{content:"\f005";}
.icon-star-empty:before{content:"\f006";}
.icon-user:before{content:"\f007";}
.icon-film:before{content:"\f008";}
.icon-th-large:before{content:"\f009";}
.icon-th:before{content:"\f00a";}
.icon-th-list:before{content:"\f00b";}
.icon-ok:before{content:"\f00c";}
.icon-remove:before{content:"\f00d";}
.icon-zoom-in:before{content:"\f00e";}
.icon-zoom-out:before{content:"\f010";}
.icon-off:before{content:"\f011";}
.icon-signal:before{content:"\f012";}
.icon-cog:before{content:"\f013";}
.icon-trash:before{content:"\f014";}
.icon-home:before{content:"\f015";}
.icon-file:before{content:"\f016";}
.icon-time:before{content:"\f017";}
.icon-road:before{content:"\f018";}
.icon-download-alt:before{content:"\f019";}
.icon-download:before{content:"\f01a";}
.icon-upload:before{content:"\f01b";}
.icon-inbox:before{content:"\f01c";}
.icon-play-circle:before{content:"\f01d";}
.icon-repeat:before{content:"\f01e";}
.icon-refresh:before{content:"\f021";}
.icon-list-alt:before{content:"\f022";}
.icon-lock:before{content:"\f023";}
.icon-flag:before{content:"\f024";}
.icon-headphones:before{content:"\f025";}
.icon-volume-off:before{content:"\f026";}
.icon-volume-down:before{content:"\f027";}
.icon-volume-up:before{content:"\f028";}
.icon-qrcode:before{content:"\f029";}
.icon-barcode:before{content:"\f02a";}
.icon-tag:before{content:"\f02b";}
.icon-tags:before{content:"\f02c";}
.icon-book:before{content:"\f02d";}
.icon-bookmark:before{content:"\f02e";}
.icon-print:before{content:"\f02f";}
.icon-camera:before{content:"\f030";}
.icon-font:before{content:"\f031";}
.icon-bold:before{content:"\f032";}
.icon-italic:before{content:"\f033";}
.icon-text-height:before{content:"\f034";}
.icon-text-width:before{content:"\f035";}
.icon-align-left:before{content:"\f036";}
.icon-align-center:before{content:"\f037";}
.icon-align-right:before{content:"\f038";}
.icon-align-justify:before{content:"\f039";}
.icon-list:before{content:"\f03a";}
.icon-indent-left:before{content:"\f03b";}
.icon-indent-right:before{content:"\f03c";}
.icon-facetime-video:before{content:"\f03d";}
.icon-picture:before{content:"\f03e";}
.icon-pencil:before{content:"\f040";}
.icon-map-marker:before{content:"\f041";}
.icon-adjust:before{content:"\f042";}
.icon-tint:before{content:"\f043";}
.icon-edit:before{content:"\f044";}
.icon-share:before{content:"\f045";}
.icon-check:before{content:"\f046";}
.icon-move:before{content:"\f047";}
.icon-step-backward:before{content:"\f048";}
.icon-fast-backward:before{content:"\f049";}
.icon-backward:before{content:"\f04a";}
.icon-play:before{content:"\f04b";}
.icon-pause:before{content:"\f04c";}
.icon-stop:before{content:"\f04d";}
.icon-forward:before{content:"\f04e";}
.icon-fast-forward:before{content:"\f050";}
.icon-step-forward:before{content:"\f051";}
.icon-eject:before{content:"\f052";}
.icon-chevron-left:before{content:"\f053";}
.icon-chevron-right:before{content:"\f054";}
.icon-plus-sign:before{content:"\f055";}
.icon-minus-sign:before{content:"\f056";}
.icon-remove-sign:before{content:"\f057";}
.icon-ok-sign:before{content:"\f058";}
.icon-question-sign:before{content:"\f059";}
.icon-info-sign:before{content:"\f05a";}
.icon-screenshot:before{content:"\f05b";}
.icon-remove-circle:before{content:"\f05c";}
.icon-ok-circle:before{content:"\f05d";}
.icon-ban-circle:before{content:"\f05e";}
.icon-arrow-left:before{content:"\f060";}
.icon-arrow-right:before{content:"\f061";}
.icon-arrow-up:before{content:"\f062";}
.icon-arrow-down:before{content:"\f063";}
.icon-share-alt:before{content:"\f064";}
.icon-resize-full:before{content:"\f065";}
.icon-resize-small:before{content:"\f066";}
.icon-plus:before{content:"\f067";}
.icon-minus:before{content:"\f068";}
.icon-asterisk:before{content:"\f069";}
.icon-exclamation-sign:before{content:"\f06a";}
.icon-gift:before{content:"\f06b";}
.icon-leaf:before{content:"\f06c";}
.icon-fire:before{content:"\f06d";}
.icon-eye-open:before{content:"\f06e";}
.icon-eye-close:before{content:"\f070";}
.icon-warning-sign:before{content:"\f071";}
.icon-plane:before{content:"\f072";}
.icon-calendar:before{content:"\f073";}
.icon-random:before{content:"\f074";}
.icon-comment:before{content:"\f075";}
.icon-magnet:before{content:"\f076";}
.icon-chevron-up:before{content:"\f077";}
.icon-chevron-down:before{content:"\f078";}
.icon-retweet:before{content:"\f079";}
.icon-shopping-cart:before{content:"\f07a";}
.icon-folder-close:before{content:"\f07b";}
.icon-folder-open:before{content:"\f07c";}
.icon-resize-vertical:before{content:"\f07d";}
.icon-resize-horizontal:before{content:"\f07e";}
.icon-bar-chart:before{content:"\f080";}
.icon-twitter-sign:before{content:"\f081";}
.icon-facebook-sign:before{content:"\f082";}
.icon-camera-retro:before{content:"\f083";}
.icon-key:before{content:"\f084";}
.icon-cogs:before{content:"\f085";}
.icon-comments:before{content:"\f086";}
.icon-thumbs-up:before{content:"\f087";}
.icon-thumbs-down:before{content:"\f088";}
.icon-star-half:before{content:"\f089";}
.icon-heart-empty:before{content:"\f08a";}
.icon-signout:before{content:"\f08b";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-pushpin:before{content:"\f08d";}
.icon-external-link:before{content:"\f08e";}
.icon-signin:before{content:"\f090";}
.icon-trophy:before{content:"\f091";}
.icon-github-sign:before{content:"\f092";}
.icon-upload-alt:before{content:"\f093";}
.icon-lemon:before{content:"\f094";}
.icon-phone:before{content:"\f095";}
.icon-check-empty:before{content:"\f096";}
.icon-bookmark-empty:before{content:"\f097";}
.icon-phone-sign:before{content:"\f098";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-unlock:before{content:"\f09c";}
.icon-credit-card:before{content:"\f09d";}
.icon-rss:before{content:"\f09e";}
.icon-hdd:before{content:"\f0a0";}
.icon-bullhorn:before{content:"\f0a1";}
.icon-bell:before{content:"\f0a2";}
.icon-certificate:before{content:"\f0a3";}
.icon-hand-right:before{content:"\f0a4";}
.icon-hand-left:before{content:"\f0a5";}
.icon-hand-up:before{content:"\f0a6";}
.icon-hand-down:before{content:"\f0a7";}
.icon-circle-arrow-left:before{content:"\f0a8";}
.icon-circle-arrow-right:before{content:"\f0a9";}
.icon-circle-arrow-up:before{content:"\f0aa";}
.icon-circle-arrow-down:before{content:"\f0ab";}
.icon-globe:before{content:"\f0ac";}
.icon-wrench:before{content:"\f0ad";}
.icon-tasks:before{content:"\f0ae";}
.icon-filter:before{content:"\f0b0";}
.icon-briefcase:before{content:"\f0b1";}
.icon-fullscreen:before{content:"\f0b2";}
.icon-group:before{content:"\f0c0";}
.icon-link:before{content:"\f0c1";}
.icon-cloud:before{content:"\f0c2";}
.icon-beaker:before{content:"\f0c3";}
.icon-cut:before{content:"\f0c4";}
.icon-copy:before{content:"\f0c5";}
.icon-paper-clip:before{content:"\f0c6";}
.icon-save:before{content:"\f0c7";}
.icon-sign-blank:before{content:"\f0c8";}
.icon-reorder:before{content:"\f0c9";}
.icon-list-ul:before{content:"\f0ca";}
.icon-list-ol:before{content:"\f0cb";}
.icon-strikethrough:before{content:"\f0cc";}
.icon-underline:before{content:"\f0cd";}
.icon-table:before{content:"\f0ce";}
.icon-magic:before{content:"\f0d0";}
.icon-truck:before{content:"\f0d1";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-google-plus-sign:before{content:"\f0d4";}
.icon-google-plus:before{content:"\f0d5";}
.icon-money:before{content:"\f0d6";}
.icon-caret-down:before{content:"\f0d7";}
.icon-caret-up:before{content:"\f0d8";}
.icon-caret-left:before{content:"\f0d9";}
.icon-caret-right:before{content:"\f0da";}
.icon-columns:before{content:"\f0db";}
.icon-sort:before{content:"\f0dc";}
.icon-sort-down:before{content:"\f0dd";}
.icon-sort-up:before{content:"\f0de";}
.icon-envelope-alt:before{content:"\f0e0";}
.icon-linkedin:before{content:"\f0e1";}
.icon-undo:before{content:"\f0e2";}
.icon-legal:before{content:"\f0e3";}
.icon-dashboard:before{content:"\f0e4";}
.icon-comment-alt:before{content:"\f0e5";}
.icon-comments-alt:before{content:"\f0e6";}
.icon-bolt:before{content:"\f0e7";}
.icon-sitemap:before{content:"\f0e8";}
.icon-umbrella:before{content:"\f0e9";}
.icon-paste:before{content:"\f0ea";}
.icon-user-md:before{content:"\f200";}
.com{color:#93a1a1;}
.lit{color:#195f91;}
.pun,.opn,.clo{color:#93a1a1;}
.fun{color:#dc322f;}
.str,.atv{color:#D14;}
.kwd,.linenums .tag{color:#1e347b;}
.typ,.atn,.dec,.var{color:teal;}
.pln{color:#48484c;}
.prettyprint{overflow-x:auto;padding:8px;font-size:14px;line-height:22px;background-color:#f7f7f9;border:1px solid #e1e1e8;border-radius:4px;}
.prettyprint.linenums{-webkit-box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;-moz-box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;box-shadow:inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;}
ol.linenums{margin:0;padding:0;margin:0 0 0 33px;list-style:decimal;}
ol.linenums li{padding:1px 0;padding-left:12px;color:#bebec5;line-height:18px;text-shadow:0 1px 0 #fff;}
#overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0.75;z-index:100;display:none;}
#preview-box{position:fixed;width:640px;height:640px;display:none;z-index:110;background-color:#fff;padding:30px;border-radius:5px;box-shadow:3px 3px 5px #000;overflow-y:scroll;}
body{font-family:"Open Sans",helvetica,sans-serif;padding:0;margin:0;color:#444;}
b,strong{color:#111;}
abbr{border-bottom:1px dotted #aaa;}
pre,blockquote{padding:5px 10px;color:#48484c;background-color:#f7f7f9;border:1px solid #e1e1e8;border-radius:4px;border-left:10px solid #c5e124;}pre p:first-of-type,blockquote p:first-of-type{margin-top:0;}
pre p:last-of-type,blockquote p:last-of-type{margin-bottom:0;}
blockquote{background-color:#fbfbfc;text-shadow:0 1px 0 white;}
.centered{text-align:center;}
.container pre{font-size:14px;line-height:18px;text-shadow:0 1px 0 white;}
.frontend form input,.frontend form textarea{font-family:"Open Sans";padding:10px;border:0;font-size:16px;line-height:24px;}
.frontend form input.search{width:600px;color:#aaa;}.frontend form input.search:hover,.frontend form input.search:active{color:#333;}
h1{text-align:center;font-size:48px;margin-bottom:0.75em;}h1 span{display:block;margin-top:1em;color:#ccc;font-size:14px;font-weight:normal;}
.content{background-color:#fff;border-top:10px solid #eee;}
.container{width:620px;margin:0 auto;padding:2em 0;font-size:16px;line-height:26px;}
.footer{padding-bottom:1em;}
.clear{clear:both;}
h1,h2,h3{color:#000;}h1 a,h2 a,h3 a{color:#000;font-weight:bold;text-decoration:none;text-shadow:-1px -1px #eeeeee;}h1 a:hover,h2 a:hover,h3 a:hover{text-decoration:none;}
a{color:#0166d7;font-weight:bold;text-decoration:none;}a:hover{color:#278cfe;text-decoration:none;}
.date{color:#aaa;float:right;text-align:right;}.date:hover{color:#555;}
.post{}.post h2 a img{display:none;}
.post h2 a:hover{color:#000;}.post h2 a:hover img{display:inline;}
.post p code{background-color:#fef;padding:0 2px;box-shadow:1px 1px 1px #ede;}
.footer .container{border-top:1px solid #eee;padding-top:1em;}
.footer .byline{font-size:14px;text-align:right;float:right;color:#ccc;}.footer .byline a{color:#aaa;}.footer .byline a:hover{color:#278cfe;}
.footer .link-icons{float:left;}.footer .link-icons a{color:#ccc;}.footer .link-icons a:hover{color:#278cfe;}
.footer .link-icons span.icon{font-size:20px;color:#ccc;font-family:JustVector;text-shadow:0 1px 1px rgba(200, 200, 200, 0.5);}
.footer .link-icons a.about{font-size:20px;margin-left:3px;}
.footer .link-icons .yc{font-family:"Open Sans";border:1px solid;padding:0px 5px;font-size:16px;line-height:18px;}.footer .link-icons .yc:hover{color:#278cfe;}
.footer .admin-controls{float:right;text-align:right;color:#aaa;font-size:14px;}
.footer .user-controls{float:left;text-align:right;color:#aaa;font-size:14px;}
.left-panel{float:left;width:310px;}
.right-panel{float:right;width:310px;}
.frontend ul.shortlist{list-style:none;margin:0;padding:5px 0;}.frontend ul.shortlist li{padding:5px;}.frontend ul.shortlist li a{color:#000;padding:5px 10px;margin-left:5px;}.frontend ul.shortlist li a:hover{color:#278cfe;}
.frontend ul.shortlist li:hover .date{color:#555;}
.admin ul.shortlist{list-style:none;margin:0;padding:5px 0;}.admin ul.shortlist li{padding:5px;position:relative;}.admin ul.shortlist li a{padding:5px 10px;margin-left:5px;}
.admin ul.shortlist li a.del{padding:0;margin-top:-1px;display:none;position:absolute;right:0;font-size:22px;}
.admin ul.shortlist li:hover a.del{display:inline-block;color:#999;}.admin ul.shortlist li:hover a.del:hover{color:#fa2a00;}
.admin ul.listpage a{color:#000;}.admin ul.listpage a:hover{color:#0166d7;}
.admin ul.listpage li span.date{margin-right:32px;}
.admin ul.listpage li:hover span.date{margin-right:0;}
.admin .panel-sep{height:1em;border-bottom:1px solid #fbfbfb;margin-bottom:1em;}
.admin .panel{color:#999;}.admin .panel a{color:#999;}.admin .panel a:visited{color:#999999;}
.admin .panel:hover a{color:#000;}.admin .panel:hover a:hover{color:#0166d7;}
.admin .panel:hover p{color:#222;}
.admin .panel:hover input:focus{color:#000;}
.admin .list-new{font-size:18px;color:#999;}
.admin input,.admin textarea{font-family:"Open Sans";padding:10px;border:0;font-size:16px;line-height:24px;}
.album-thumbnail img,.pretty-thumb{padding:3px;box-shadow:1px 1px 4px #ccc;}.album-thumbnail img:hover,.pretty-thumb:hover{box-shadow:1px 1px 4px #999;}
.login-form{width:310px;margin:0 auto;}.login-form label{width:80px;display:inline-block;}
.login-form input[type=text],.login-form input[type=password]{border:1px solid #ccc;padding:3px 10px;}
.login-form .login{display:block;text-align:right;margin-top:5px;margin-right:10px;}.login-form .login input{padding:3px 6px;border:2px solid #fff;color:#ffffff;background-color:#c5e124;cursor:pointer;text-shadow:1px 1px 1px #535f0d;font-weight:bold;border-radius:3px;box-shadow:2px 2px 3px #ccc;}.login-form .login input:hover{background-color:#d1e751;}
.login-form .login input:active{background-color:#b5cf1d;}
.admin .buttons{float:right;}
.admin .extras{display:none;}
.admin .more-button{padding:3px 6px;border:2px solid #fff;color:#ffffff;background-color:#4dbce9;cursor:pointer;text-shadow:1px 1px 1px #11688c;font-weight:bold;border-radius:3px;box-shadow:2px 2px 3px #ccc;}.admin .more-button:hover{background-color:#7acdef;}
.admin .more-button:active{background-color:#36b3e6;}
.admin .preview-button{padding:3px 6px;border:2px solid #fff;color:#ffffff;background-color:#fe4365;cursor:pointer;text-shadow:1px 1px 1px #a7011f;font-weight:bold;border-radius:3px;box-shadow:2px 2px 3px #ccc;}.admin .preview-button:hover{background-color:#fe768f;}
.admin .preview-button:active{background-color:#fe2a50;}
.admin .save-button{padding:3px 6px;border:2px solid #fff;color:#ffffff;background-color:#aad822;cursor:pointer;text-shadow:1px 1px 1px #42540d;font-weight:bold;border-radius:3px;box-shadow:2px 2px 3px #ccc;}.admin .save-button:hover{background-color:#bce34b;}
.admin .save-button:active{background-color:#98c21f;}
.admin label{color:#000;}
.admin .extras{padding:1em 0;border-top:1px solid #eee;}.admin .extras input{color:#444;}
.admin input.search{width:100%;}
.posts-form .post-title-input{font-weight:bold;font-size:22px;width:600px;}
.posts-form .post-content-input{height:520px;width:600px;color:#444;}
.posts-form .post-slug-input{width:520px;}
.posts-form .published{float:left;}.posts-form .published a.published-toggle-button{padding:3px 6px;border:2px solid #fff;color:#ffffff;background-color:#333333;cursor:pointer;text-shadow:1px 1px 1px #000000;font-weight:bold;border-radius:3px;box-shadow:2px 2px 3px #ccc;display:inline-block;padding-right:10px;}.posts-form .published a.published-toggle-button:hover{background-color:#4d4d4d;}
.posts-form .published a.published-toggle-button:active{background-color:#262626;}
.posts-form .published a.published-toggle-button:hover{color:#f4f4f4;}
.posts-form .published a.published-toggle-button.published-1{background-color:#0166d7;padding-right:8px;}
.posts-form .published a.published-toggle-button i{margin-left:4px;}
.external-link{color:#ccc;font-size:75%;font-weight:normal;}
.pages-form .page-url-input{font-weight:bold;size:22px;width:600px;}
.pages-form .page-content-input{height:520px;width:600px;color:#444;}
.paginator{text-align:center;margin:1em 0;padding:0;list-style:none;}.paginator li{display:inline-block;}.paginator li a{padding:3px 8px;border:1px solid #0166d7;}.paginator li a:hover{background-color:#278cfe;color:white;text-shadow:2px 2px #015abd;}
.paginator li.num{padding:1px 9px;border:1px solid #ccc;}.paginator li.num:hover{background-color:#eee;text-shadow:1px 1px 2px #bbbbbb;}
.paginator li.inter{border:0;}.paginator li.inter:hover{background-color:transparent;text-shadow:none;}
.bottom-panel{margin-top:2em;padding:1em 0;margin-bottom:-2em;background-color:#fbfbfb;}
.summary{border-top:1px solid #eee;}.summary h3{text-align:center;}
.summary .date{float:none;color:#ccc;font-size:12px;}
.summary ul{margin:0;padding:0;list-style:none;}
.summary li{margin-left:0;padding:5px 0;}.summary li a{color:#000;font-weight:normal;}.summary li a:hover{color:#278cfe;}
.summary li:hover .date{color:#777;}
.summary .left-panel ul{padding-left:10px;}
.summary .left-panel h3{padding-left:0px;}
.summary .right-panel ul{padding-right:5px;}
.summary .right-panel h3{padding-left:0px;}
.entry .icon{color:#999;}.entry .icon:hover{color:#278cfe;}
.entry:hover .icon{color:#222;}.entry:hover .icon:hover{color:#278cfe;}
.entry.twitter{font-size:16px;}
.entry.github .message{font-size:12px;color:#555;line-height:18px;}
.entries .entry{padding:.75em 1em;border-bottom:1px solid #eee;}.entries .entry:hover{color:#000;}
.entries .entry i.icon{font-size:32px;display:inline-block;float:left;padding:0 0.25em;}
.entries .entry.github i.icon{color:black;}.entries .entry.github i.icon:hover{color:#444;}
.entries .entry.twitter i.icon{color:#00aced;}.entries .entry.twitter i.icon:hover{color:#22ceff;}
.entries .entry.bitbucket i.icon{color:#689ce4;}.entries .entry.bitbucket i.icon:hover{color:#8abeff;}
.entries .entry.github{font-size:16px;}.entries .entry.github .message{font-size:16px;color:inherit;}
.entry-container{clear:both;}
.entry-container:last-child .entry{border-bottom:0px;}
.entry-container:nth-child(even) .entry{background-color:#fbfbfb;}
.right{float:right;}
h2 .small{font-size:14px;}
