<form method="POST" action="" class="login-form">
    <div>
        <label for="username">username</label> <input type="text" name="username" id="username" {{#username}}value="{{username}}"{{/username}}>
    </div><div>
        <label for="password">password</label> <input type="password" name="password" id="password">
    </div><div class="login">
        <input type="submit" value="log in">
    </div>
</form>
