
<h2>
    <a href="/admin/gallery/">Gallery</a>
    <a class="gallery-user" href="{{#GalleryConfig}}{{SourceLink}}{{/GalleryConfig}}"> <i class="icon-camera-retro"></i> view on {{#GalleryConfig}}{{Type}}{{/GalleryConfig}}</a>
</h2>



<div>

</div>

