
<div class="post">
    <h2><a href="/blog/{{Slug}}/">{{Title}} <img src="/static/img/link16.png"></a></h2>
    <div class="post-content">
        {{{ContentRendered}}}
    <div class="date">{{NaturalTime}}</div>
    </div>
    <div class="clear"></div>
</div>

