{{#Entry}}
    <div class="entry github">
        <a href="{{Url}}"><i class="icon icon-github-sign"></i></a>
        <a href="{{Url}}">{{Hash}}</a> to 
        <span class="name">{{#Event}}{{#repository}}<a href="{{url}}">{{name}}</a>{{/repository}}{{/Event}}</span>
        <span class="message">{{#Event}}{{message}}{{/Event}}
    </div>
{{/Entry}}
