{{#Search}}<h3><a href="/stream/">All Posts</a></h3>{{/Search}}

<form action="/stream/" method="GET"><input type="text" name="Search" class="search js-clear-default" data-default="Search the stream..." value="{{#Search}}{{Search}}{{/Search}}{{^Search}}Search the stream...{{/Search}}"></form>

<div class="entries">
    {{#Entries}}
    <div class="entry-container">
        {{{SummaryRender}}}
    </div>
    {{/Entries}}
</div>

{{{Pagination}}}
