<article class="bookmark-detail">
    <h1>
        <a href="{{.bookmark.URL}}" target="_blank">{{.bookmark.Title}}</a>
        <a href="{{.bookmark.URL}}" target="_blank" class="external-link">
            <i class="fa-solid fa-link"></i>
        </a>
    </h1>
    
    <div class="bookmark-meta">
        <span class="date">{{.bookmark.CreatedAt | naturalTime}}</span>
    </div>

    <div class="bookmark-content">
        {{if screenshotURL .bookmark.IconPath}}
        <div class="bookmark-screenshot">
            <a href="{{screenshotURL .bookmark.ScreenshotPath}}" target="_blank">
                <img src="{{screenshotURL .bookmark.IconPath}}" alt="Screenshot of {{.bookmark.Title}}" />
            </a>
        </div>
        {{end}}

        {{if .bookmark.Description}}
        <div class="bookmark-description">
            {{.bookmark.DescriptionRendered | safe}}
        </div>
        {{end}}
    </div>
</article>