{{if .query}}<h3><a href="/bookmarks/">All Bookmarks</a></h3>{{end}}

<form action="/bookmarks/" method="GET">
    <input type="text" name="q" class="search js-clear-default"
           data-default="Search bookmarks..."
           value="{{if .query}}{{.query}}{{else}}Search bookmarks...{{end}}">
</form>

<ul class="shortlist listpage">
{{range $bookmark := .bookmarks}}
<li>
<a href="/bookmarks/{{$bookmark.ID}}">{{$bookmark.Title}}</a>
<span class="url"><a href="{{$bookmark.URL}}" target="_blank">{{$bookmark.URL}}</a></span>
<span class="date">{{$bookmark.CreatedAt | naturalTime}}</span>
{{if $bookmark.Description}}
<div class="description">{{$bookmark.DescriptionRendered | safe}}</div>
{{end}}
</li>
{{end}}
</ul>

{{.pagination}}