{{if .query}}<h3><a href="/bookmarks/">All Bookmarks</a></h3>{{end}}

<form action="/bookmarks/" method="GET">
    <input type="text" name="q" class="search js-clear-default"
           data-default="Search bookmarks..."
           value="{{if .query}}{{.query}}{{else}}Search bookmarks...{{end}}">
</form>

<ul class="shortlist listpage">
{{range $bookmark := .bookmarks}}
<li class="bookmark-item">
{{if screenshotURL $bookmark.IconPath}}
<div class="bookmark-icon">
<a href="{{screenshotURL $bookmark.ScreenshotPath}}" target="_blank">
<img src="{{screenshotURL $bookmark.IconPath}}" alt="Screenshot of {{$bookmark.Title}}">
</a>
</div>
{{end}}
<div class="bookmark-content">
<a href="/bookmarks/{{$bookmark.ID}}">{{$bookmark.Title}}</a>
<span class="bookmark-url">
<a href="{{$bookmark.URL}}" target="_blank" class="external-link">
<i class="fa-solid fa-link"></i>
</a>
</span>
<span class="date">{{$bookmark.CreatedAt | naturalTime}}</span>
{{if $bookmark.Description}}
<div class="description">{{$bookmark.DescriptionRendered | safe}}</div>
{{end}}
</div>
</li>
{{end}}
</ul>

{{.pagination}}